
if SHIELD_TEN44_LEFT

config ZMK_KEYBOARD_NAME
    default "Ten44"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TEN44_LEFT || SHIELD_TEN44_RIGHT

config ZMK_SPLIT
    default y

endif
