/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <LWR RSE>;
            then-layer = <ADJ>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Primary_layer {
            display-name = "Colemak_dh";
            bindings = <
  &kp GRAVE         &kp N1  &kp N2  &kp N3   &kp N4       &kp N5          &kp N6           &kp N7       &kp N8     &kp N9   &kp N0    &kp SQT
  &kp TAB           &kp Q   &kp W   &kp F    &kp P        &kp B           &kp J            &kp L        &kp U      &kp Y    &kp LBKT  &kp RBKT
  &mt LSHIFT ESC    &kp A   &kp R   &kp S    &kp T        &kp G           &kp M            &kp N        &kp E      &kp I    &kp O     &mt RIGHT_SHIFT SEMICOLON
  &mt LSHFT ESCAPE  &kp Z   &kp X   &kp C    &kp D        &kp V           &kp K            &kp H        &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_SHIFT NON_US_BACKSLASH
  &trans            &trans  &trans  &kp DEL  &lt 1 ENTER  &lt 2 LEFT_GUI  &lt 2 BACKSPACE  &lt 1 SPACE  &kp RET    &trans   &trans    &trans
            >;
        };

        lower_layer {
            display-name = "L1";
            bindings = <
  &trans  &trans  &trans    &trans    &trans         &trans  &trans  &kp N7  &kp N8   &kp N9   &trans  &trans
  &trans  &trans  &kp HOME  &kp UP    &kp PAGE_UP    &trans  &trans  &kp N4  &kp N5   &kp N6   &trans  &trans
  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT      &trans  &trans  &kp N1  &kp N2   &kp N3   &trans  &trans
  &trans  &trans  &kp END   &trans    &kp PAGE_DOWN  &trans  &trans  &kp N0  &kp DOT  &kp RET  &trans  &trans
  &trans  &trans  &trans    &trans    &trans         &trans  &trans  &trans  &trans   &trans   &trans  &trans
            >;
        };

        raise_layer {
            display-name = "L2";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        adjust_layer {
            display-name = "L3";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };
    };
};
