if SHIELD_TOTEM_STEP_LEFT

config ZMK_KEYBOARD_NAME
    default "Totem Step"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TOTEM_STEP_LEFT || SHIELD_TOTEM_STEP_RIGHT

config ZMK_SPLIT
    default y

endif
